.box_sdw{
    box-shadow: 0px -13px 42px 24px rgba(233, 7, 7, 0.1);
  padding: 20px;
  border-radius: 25px;
  margin-bottom:20px;
  border: 1px solid #d71e1e;
  min-height: 220px;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.box_sdw h3{
  font-weight: 600;
}

.cnt_hder h2{
  font-size: 45px;
  font-weight: 600;
  color: #d71e1e;
  text-transform: uppercase;
}

.fadeIn {
  opacity: 0;
  transform: translateY(40px);
  transition: all .7s ease-in-out;
}

.fadeIn.show {
  opacity: 1;
  transform: translateY(0);
}


.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.card-box .card {
  width: 300px;
  border-radius: 10px;
  background-image: url("https://res.cloudinary.com/dzeznhbhc/image/upload/v1686829989/bg-images_yf4ypa.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  box-shadow: 4px 4px 9px 4px #ccced0;
}

.card .overlay {
  width: 100%;
  height: 100%;
  background-color: #c2c2c1;
  border-radius: 10px;
  /* padding: 20px 0px; */
}

.card-box .card img {
  /* width: 80px; */
  /* height: 80px; */
  object-fit: cover;
  /* border-radius: 50%; */
  /* margin: 0px 20px 0px; */
  border: 3px solid white;
  border-radius: 10px;
}

.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body h2 {
  margin: 0;
  color: #e31d24;
  font-size: 26px;
  font-weight: bold;
}

.card-body p {
  margin: 0;
  padding: 10px 0px;
  color: #050000;
  font-size: 20px;
  font-weight: bold;
}

.social-icon {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin: 10px 0px;
}

.social-icon span {
  font-size: 26px;
  color: #fff;
}

.social-icon span:hover {
  color: #ff9d0d;
  cursor: pointer;
}

.button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 22px 0px;
}

.btn-wrap {
  background-color: #e31d24;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}

.btn-wrap:hover {
  background-color: #fff;
  cursor: pointer;
  color: #e31d24;
}


.plp-hero-media {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* fills container nicely */
}
