.App{
  text-align: center;
}
body {
  font-family: "Space Grotesk";
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
img{
  width: 100%;
}

section{ padding: 50px 0;}
.heading_top{overflow-y: hidden; font-size: 40px; font-weight: bold; color: #c12329;}
.heading_top_p{font-size: 20px; color: #000000;padding: 16px 0;
}
.hme_box{
  padding: 20px;
  background: #efefef;
  margin-bottom: 20px;
  transition: 0.3s;
}

.hme_box:hover{
background-color: #f8acac;
transform: scale(1.1);
border-radius: 20px;
}

.hme_box h5{
  font-size: 25px;
  font-weight: 600;
}
.hme_box p{
  font-size: 18px;
}
.cntr_cntr_hme{
  display: flex;
  justify-content: center;
 
  flex-direction: column;
  align-content: center;
}

.btnn:hover{color: #FFFFFF; border: 1px solid #8e6492; border-radius:8px !important; padding: 8px 16px; background: rgb(54,68,235);
  background: linear-gradient(90deg, rgb(249, 6, 6) 0%, rgb(255, 6, 6) 43%, rgb(227, 7, 7) 100%);}

.btnn{float: left; text-decoration: none; color: #FFFFFF; border: 1px solid #e6f600; border-radius:8px !important; padding: 8px 16px; background: rgb(142,100,146);  background: linear-gradient(90deg, rgb(239, 36, 59) 0%, rgb(253, 4, 4) 43%, rgb(255, 2, 10) 100%);
margin-bottom: 20px;
}


.border_center{color: #FFFFFF; background: rgb(142,100,146);  background: linear-gradient(90deg, rgba(142,100,146,1) 0%, rgba(90,83,197,1) 43%, rgba(54,68,235,1) 100%); text-align: center; padding: 22px 0; font-size: 28px;}
.each_sec_part img{width: 147px;}
.each_sec_part {margin-bottom: 24px;width: 294px; padding: 22px;border-radius: 16px; text-align: center; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}
.text-center{text-align: center;}
.each_sec_part h4{ overflow-y: hidden; }
.felx_sec{ display: flex; justify-content: center; align-items: center;}
.partner_sec{  text-align: center; margin-top: 40px  !important;}
.partner_sec h4{ font-size: 20px; font-weight: 700 !important;line-height: 30px;}
.partner_sec p{ font-size: 16px; font-weight: 400;line-height: 24px;}
.each_sec_part p ul{ text-align: left !important;margin-top: 28px;}
.each_sec_part p li{ list-style-type:disc;}
.footer_labe { display: flex; justify-content: right;}
.footer_labe div input,textarea{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;width: 300px; padding: 5px;border-radius: 5px; border:1px solid #4f4ed0;}
.ques_img {width: 50%;}
h4{overflow: hidden;}

.nav{
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: rgba(0,0,255,0.8);
}

.nav div.logo{
  width: 180px;
  /* height: 10px; */
  position: absolute;
}

.nav div.logo a{
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.main_list{
  width: 600px;
  /* height: 65px; */
  float: right;
}

.nav div.main_list ul{
  width:100%;
  /* height: 65px; */
  display: flex;
  list-style: none;
}

.nav div.main_list ul li{
  width: 120px;
  height: 65px;
}

.nav div.main_list ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.main_list ul li a:hover{
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span{
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}




.cards {
  --cards-text-color: white;
  --cards-closed-size: 4rem;
  --animation-speed-normal: .5s;
  --animation-speed-fast: .25s;
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.card {
  width: 100%;
  height: var(--cards-closed-size);
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
  z-index: 1;
  transition: all var(--animation-speed-normal) ease-in-out;
  cursor: pointer;
}

.card[active] {
  height: 56vw;
}

.card__image {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  filter: brightness(.675) saturate(75%);
  transition: filter var(--animation-speed-fast) ease-in-out;
}

.card:hover .card__image {
  filter: brightness(.875) saturate(100%);
}

.card__infos {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: var(--cards-closed-size);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: .125rem;
  width: 100%;
  padding: .25rem 1rem;
}

.card__name {
  margin: 0;
  color: var(--cards-text-color);
  transform: translateY(.65rem);
  transition: all var(--animation-speed-normal) ease-in-out;
  font-size: 1.5rem;
}

.card[active] .card__name {
  transform: translateY(0);
}

.card__author {
  margin: 0;
  color: var(--cards-text-color);
  text-decoration: none;
  transform: translateY(.65rem);
  opacity: 0;
  transition:
    opacity var(--animation-speed-fast) ease-in-out,
    transform var(--animation-speed-normal) ease-in-out;
}

.card[active] .card__author {
  transform: translateY(0);
  opacity: 1;
}

.card[active] .card__author:hover {
  opacity: .75;
}

@media screen and (min-width: 640px) {
  .cards {
    max-width: 640px;
    margin: 0 auto;
    flex-direction: row;
  }

  .card {
    width: var(--cards-closed-size);
    height: 20rem;
    flex: 0 0 var(--cards-closed-size);
  }

  .card[active] {
    width: 100%;
    height: 20rem;
    flex: 0 0 calc(640px - 19rem);
  }
  
  .card__name {
    transform: rotate(-90deg) translate(1rem, -2.25rem);
  }
}


/* whatsapp  */

.pulse i {
	position: relative;
	z-index: 20;
	top: 16px;
	font-size: 30px;
  }
  .pulse {
	position: fixed;
	cursor: pointer;
	display: block;
	width: 60px !important;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color: rgba(0, 200, 0, 1);
	color: white;
	border-radius: 50px;
	text-align: center;
	transition-duration: 0.5s;
	animation: pulse-btn 3s infinite;
	z-index: 9000;
  }
  
  .pulse:hover {
	background-color: rgba(0, 150, 0, 1);
	color: white;
  }
  
  .my-float {
	margin-top: 15px;
  }
  
  @keyframes pulse-btn {
	0% {
	  -webkit-box-shadow: 0 0 0 0 rgba(0, 200, 0, 1);
	}
	70% {
	  -webkit-box-shadow: 0 0 0 20px rgba(0, 200, 0, 0);
	}
	100% {
	  -webkit-box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
	}
  }
  
  .pulse a {
	color: #fff;
  }
  